@use "../../variable.scss";

.tag {
    background-color: variable.$bluecolor;
    color: variable.$titlecolor;
    font-weight: 500;
    border-radius: 10px 0 10px 0;
    border: 3px outset variable.$bluecolor;
    padding: 10px 20px;
    height: fit-content;
}