/* --------------------  Header */

$duration : 0.3s ease-in-out;


header {
    background-color: #BA725A;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;


    img {
        display: auto;
        width: auto;
        height: 70px;

    }

    #burger-button {
        @media (min-width:768px) {
            display: none;
        }


        .burger-icon {
            position: fixed;
            display: block;
            background-color: #BA725A;
            right: 0;
            top: 150px;
            cursor: pointer;
            z-index: 1;
            width: 40px;
            height: 46px;
            transition: 0.5s ease-in-out;

            @media screen and (min-width:768px) {
                display: none;
            }


            /* Icône burger */
            span {
                display: block;
                height: 4px;
                background-color: #FFF;
                width: 70%;
                margin: 0 15%;
                padding: 0;
                transition: transform $duration , opacity $duration ;
                position: absolute;
                top: 50%;
                opacity: 1;

                &:nth-child(1) {
                    transform: translateY(-270%);
                }

                &:nth-child(3) {
                    transform: translateY(250%);
                }
            }

            &.open {
                span:nth-child(1) {
                    transform: rotate(-45deg);
                    margin: 0 15%;
                    padding: 0;
                    position: absolute;
                    transition: transform $duration ;
                }

                span:nth-child(2) {
                    opacity: 0;
                    display: none;
                    transition: opacity $duration;
                }

                span:nth-child(3) {
                    transform: rotate(45deg);
                    margin: 0 15%;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    transition: transform $duration ;
                }
            }
        }




    }

    .menu {
        display: none;
        text-align: center;
        opacity: 0;


        @media screen and (min-width:768px) {
            display: grid;
            opacity: 1;
        }

        a {
            text-decoration: none;
            display: block;
            padding: 15px;
        }

        &.active {
            display: block;
            position: fixed;
            right: 0px;
            left: 0;
            background-color: #BA725A;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

    }

}



.nav-desktop {
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin: auto;
    }

}