.thumb {
    padding: 0 25px;
    width: 325px;
    height: 405px;



    a {
        display: inline-block;
        text-decoration: none;
        color: rgb(59, 59, 59);
        box-shadow: 4px 4px 6px rgb(7, 64, 64, 80%);
    }

    .card-img {
        background-color: #FFF;
        width: 325px;
        height: 325px;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 293px;
            height: 293px;
            object-fit: cover;
        }
    }

    .card-texte {
        background-color: #FFF;
        width: 325px;
        height: 90px;
        text-align: end;

        h3,
        p {
            margin: 0;
            padding: 0 15px;
        }

        .title {
            font-size: 1.4em;
        }

        .explication {
            font-size: 1.1em;
            padding: 5px;
        }

    }
}