@use "variable";
@use "mixins";
@use "keyframes";

@import url(./Style/Style_apropos.scss);
@import url(./Style/Style_Error404.scss);
@import url(./Style/Style_Bienvenue.scss);
@import url(./Style/Style_Projet.scss);
@import url(./Style/Style_ParcoursPro.scss);


/* --------------------  Général */

body {
  background-color: variable.$body;
}

h2,
h3 {
  @include mixins.font;
  margin: 0;
  color: variable.$secondColor;
}

h1 {
  @include mixins.font;
  color: variable.$secondColor;
  font-size: 2.2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-family: sans-serif;
  font-size: 1.3em;
}