/******************* Font */


@font-face {
    font-family: "Yeseva";
    src: url(../public/assets/font/YesevaOne-Regular.ttf) format(truetype);
}

@mixin font {
    font-family: 'Yeseva';
    font-weight: 400;
}


/******************* Grid deux colonnes */

@mixin gridTwoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}