/******************* Couleurs */
$body: #ebe6e6;
$white: #FFF;
$second-text-color: lightgray;
$firstColor: #BA725A;
$secondColor: #005C5C;
$second-title-color: #ABD4CB;
$first-color-hobbie: #F3DDB8;
$second-color-hobbie: #C4D3BE;
$third-color-hobbie: #dcd6e3;
$fourth-color-hobbie: #F1A6A0;